# MVS host connection
MVS_HOST=localhost
MVS_PORT=1080
MVS_USER=IBMUSER
MVS_PASS=sys1

# JES job settings
MVS_JOBCLASS=A
MVS_MSGCLASS=H

# CRENT370 macro libraries
CRENT_MACLIB=CRENT370.V0R1M0.MACLIB
CRENT_SYS2_MACLIB=SYS2.MACLIB

# CRENT370 datasets
CRENT_PUNCH=IBMUSER.CRENT370.V0R1M0.OBJECT
CRENT_SYSLMOD=IBMUSER.CRENT370.V0R1M0.NCALIB
